.chat-main
  .chat-main__group-info
    .group-info__left-box 
      .group-info__left-box__group-name ベイスターズ
      .group-info__left-box__group-member aaa
    .group-info__right-box 
    =link_to "https://www.facebook.com/", class: "group-info__right-link" do
      Edit
  .chat-main__message-list
    = render @messages
  -# .chat-main__message-list
  -#   .chat-main__message-list__message
  -#     .chat-main__message-list__message__upper-info
  -#       .chat-main__message-list__message__upper-info__talker mada        
  -#       .chat-main__message-list__message__upper-info__date 2019/11/30
  -#     .chat-main__message-list__message__text おはよう
  -#   .chat-main__message-list__message
  -#     .chat-main__message-list__message__upper-info
  -#       .chat-main__message-list__message__upper-info__talker mada        
  -#       .chat-main__message-list__message__upper-info__date 2019/11/30
  -#     .chat-main__message-list__message__text おはよう
  .chat-main__message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
  



      -# .form
      -# = form_for [@group, @message] do |f|
      -#   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      -#   .form__mask
      -#     = f.label :image, class: 'form__mask__image' do
      -#       = icon('fas', 'image', class: 'icon')
      -#       = f.file_field :image, class: 'hidden'
      -#   = f.submit 'Send', class: 'form__submit'

    -#   .chat-main__message-form
    -# .chat-main__message-form__new-message
    -#   .chat-main__message-form__new-message__input-box
    -#     .chat-main__message-form__new-message__input-box__text type a message
    -#     .chat-main__message-form__new-message__input-box__image 
    -#       %label{class: "chat-main__message-form__new-message__input-box__image"}
    -#         = icon('fas', 'image')
    -#         %input{type: "file"}
    -#   .chat-main__message-form__new-message__submit-btn Send